/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
resources/public/js
resources/public/bower_components
.DS_STORE
figwheel_server.log
/assets/js/out/
/assets/js/out-adv/
/assets/js/clash_attack_sim.js
